PORT=5000
MONGODB_URI=mongodb://localhost:27017/sct_db
# Set MONGODB_URI to your Atlas Connection string for cloud database sync:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/sct_db
